exportPattern("^[^\\.]")
useDynLib(STBEU)
export(STBEUFit)
importFrom("grDevices", dev.cur)
importFrom("graphics", abline, lines, par, persp, plot,points)
importFrom("stats", dist, nlm, optim, optimize, pchisq,pnorm,qnorm,rgamma,rnorm, uniroot, var)
importFrom("methods","is", "new", "slot<-")
importFrom("MCMCpack",xpnd)
import("GeoModels")
S3method(print,STBEUFit)

